/* custom css definitions */
[data-theme="dark"] {
  --pico-card-sectioning-background-color: #3d475c;
  --pico-card-background-color: #202632;
  --pico-range-border-color: #3d475c;
  --pico-range-active-border-color: #cfd5e2;
  --pico-table-row-stripped-background-color: #2a3140;
  --pico-switch-background-color: #3d475c;
  --pico-switch-checked-background-color: #687899;
}

@media (min-width: 100px) {
  :root {
    --pico-font-size: 85%;
  }
}
@media (min-width: 576px) {
  :root {
    --pico-font-size: 90%;
  }
}
@media (min-width: 768px) {
  :root {
    --pico-font-size: 95%;
  }
}
@media (min-width: 1024px) {
  :root {
    --pico-font-size: 100%;
  }
}
@media (min-width: 1280px) {
  :root {
    --pico-font-size: 105%;
  }
}
@media (min-width: 1536px) {
  :root {
    --pico-font-size: 110%;
  }
}

details > summary {
  font-size: 1.125rem;
}

details[open] > summary {
  font-size: 1.25rem;
  font-weight: bold;
}

details[open] {
  background-color: #202632;
  padding: 20px;
}

hr {
  border-top: 2px solid #646b79;
  margin-top: 4%;
  margin-bottom: 4%;
}

.topMenu {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background-color: #3d475c;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  z-index: 999;
}

#topMenuDropdown {
  width: 70px;
  height: 35px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.footerBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.simModeBar {
  display: none;
  background-color: #9b8904;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

.setupModeBar {
  display: none;
  background-color: #4650df;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
}

/* Basis Flexbox-Layout */
.grid {
  display: flex;
  flex-wrap: wrap;
}

/* Standard: 1 Elemente pro Zeile */
.grid .dash {
  flex-basis: 99%;
  padding: 10px;
  min-width: 300px;
}

/* Breitere Bildschirme: 2 Elemente pro Zeile */
@media (min-width: 768) {
  .grid .dash {
    flex-basis: 48%;
  }
}

/* Breitere Bildschirme: 3 Elemente pro Zeile */
@media (min-width: 800px) {
  .grid .dash {
    flex-basis: 32%;
  }
}

.leftright {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.sidebar {
  display: flex;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: var(--pico-card-background-color);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  flex-direction: column;
}

.sidebar i {
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
  padding: 0;
  flex: 1;
  overflow-y: auto;
}

.sidebar li {
  position: relative;
  margin: 6px 0;
  list-style: none;
}

.sidebar li a {
  color: #fff;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: var(--pico-card-sectioning-background-color);
}

.sidebar li a:hover {
  background: #fff;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  pointer-events: auto;
  transition: all 0.5s ease;
  filter: invert(1);
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar .nav-list li .svg {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  margin-top: 6px;
  margin-bottom: 6px;
}

.sidebar li a.active {
  background: #fff;
}

.sidebar li a.active .links_name,
.sidebar li a.active i {
  pointer-events: auto;
  transition: all 0.3s ease;
  filter: invert(1);
}

.home-section {
  position: relative;
  top: 15px;
  left: 250px;
  width: calc(100% - 250px);
  transition: all 0.5s ease;
}

/* Media Query für kleinere Bildschirme */
@media (max-width: 768px) {
  .topMenu {
    display: flex;
  }
  .sidebar {
    display: none;
  }
  .home-section {
    top: 70px;
    left: 10px;
    width: calc(100% - 20px);
  }
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
.section-title {
  flex: 1;
}
.section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
.switch-container {
  margin-left: 20px;
}
.grid {
  margin-bottom: 5%;
}
.tools {
  width: 500px;
}
.dash {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  max-width: 512px;
  min-width: 200px;
}
.dash-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.dash-icon {
  width: 20%;
  min-width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pico-card-sectioning-background-color);
}
.dash-header {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 1rem;
  font-weight: 700;
}
.dash-content,
.dash-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 2%;
}
.dash-content .value,
.dash-footer {
  flex: 1;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 0.75rem;
}
.dash-content .value {
  font-size: 1.75rem;
  font-weight: 700;
}
.dash-footer {
  font-size: 0.75rem;
}
.table-header {
  font-size: 1rem;
  font-weight: 700;
}
.table-value {
  text-align: right;
}
input[type="number"] {
  text-align: right;
}
table td {
  background-color: var(--pico-table-row-stripped-background-color);
  font-size: 0.75rem;
}
.radio-buttons {
  padding-bottom: 5px;
  margin-top: 5px;
  border-radius: 15px;
  border: #3d475c;
  border-style: solid;
  border-width: 1px;
}

.button-group {
  display: inline-block;
}

.button-like {
  display: none;
}

.button-like-label {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  background-color: transparent;
  cursor: pointer;
}

.button-like:checked + .button-like-label {
  background-color: var(--pico-card-sectioning-background-color);
  color: #fff;
  border-radius: 10px;
}

a {
  cursor: pointer;
}
